.wrapper{
    width: 350px;
    height: 50px;
    background-color: var(--input-color);
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    border-radius: 10px;
}
.wrapper.value_filled{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.input{
    height: 80%;
    outline: none;
    border: none;
    background-color: var(--input-color);
    font-size: 1.5rem;
    color: var(--text-color);
    padding-left: 5px;
    padding-right: 5px;
    flex-grow: 1;
}
.input__button{
    width: 50px;
    height: 30px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
}